KERNEL=="js[0-9]*", ACTION=="add", SUBSYSTEMS=="input", ATTRS{uniq}=="1c:96:5a:88:a8:66", SYMLINK+="ps4_dualshock_jacek" RUN+="/usr/bin/su jacek -c \"/home/mainuser/scripts/ps4_dualshock.sh %E{DEVNAME} add\""

KERNEL=="js[0-9]*", ACTION=="remove", SUBSYSTEMS=="input", ATTRS{uniq}=="1c:96:5a:88:a8:66", RUN+="/usr/bin/su jacek -c \"/home/mainuser/scripts/ps4_dualshock.sh %E{DEVNAME} remove\""
