ACTION=="add" SUBSYSTEM=="input", ENV{PRODUCT}=="5/0/0/0", RUN+="/usr/bin/su jacek -c \"/home/mainuser/scripts/jbl_go_2.sh add\""

ACTION=="remove" SUBSYSTEM=="input", ENV{PRODUCT}=="5/0/0/0", RUN+="/usr/bin/su jacek -c \"/home/mainuser/scripts/jbl_go_2.sh remove\""
