alias ls='ls --color=auto'
alias l='ls -alh'
alias ll='ls -lh'
alias sudo='sudo '
alias tstat='turbostat -q --interval 1 --show Core,CPU,Avg_MHz,Busy%,Bzy_MHz,TSC_MHz,CoreTmp,PkgTmp,GFXMHz,PkgWatt,CorWatt,GFXWatt,RAMWatt'
alias pacmy='comm -23 <(pacman -Qqett | sort) <(pacman -Qq -g base -g base-devel | sort | uniq)'
alias d='du --max-depth=0 -h'
alias i3c='$EDITOR ~/.config/i3/config'
alias nvmetemp='smartctl /dev/nvme0n1 -a | grep "Temperature Sensor"'

#alias r='ranger'

alias zshc='$EDITOR ~/.zshrc'
alias vimc='$EDITOR ~/.vimrc'
alias n='nvim'
alias sn='sudo -E nvim'
alias images_all='find "$(pwd)" -type f -exec file {} \; | awk -F: '\''{if ($2 ~/image/) print $1}'\'' | sxiv -i'
alias images_jpg='find "$(pwd)" -type f -iname '\''*.jpg'\'' | sxiv -i'
alias pf='sudo power_full.sh'
alias pn='sudo power_normal.sh'
alias dgit='git --git-dir=$HOME/.mydotfiles/ --work-tree=/'
alias sdgit='sudo -E git --git-dir=$HOME/.mydotfiles/ --work-tree=/'
alias not='nvim $HOME/notatki.txt'
alias maint='nvim $HOME/maintenance.txt'
alias x='echo $(fc -ln -1) | xclip -r -selection clipboard'
alias xo='$(fc -ln -1) | xclip -r -selection clipboard'
alias hiber='hiber.sh'
alias st='git status'
alias dst='git --git-dir=$HOME/.mydotfiles/ --work-tree=/ status'
alias pl='git pull --rebase origin master'
alias sub='git submodule update --init --recursive'
